:root{
    --primary-color : #F32A2A;
    --tamaño-titulo : 40px;
    --tamaño-parrafos: 15px;
    --fondo: #0f1519;
}

nav.bg-propio{
    background:var(--fondo);

}

nav.bg-propio ul li a{
    color: white;
    position: relative;
}

nav.bg-propio ul li a::after{
    width: 20%;
    height: 2px;
    background: transparent;
    content: "";
    position: absolute;
    bottom: 2px;
    left: 20px;
    transition: .4s;
}

nav.bg-propio ul li a:hover{
    background: var(--primary-color);
}

nav.bg-propio ul li.centro{
    margin-top: 12px;
}

nav.bg-propio ul li.login{
    margin-left: 400px;
    margin-right: 6px;
    display: block;
    padding: 12px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    color: white;
    background: var(--primary-color);
    border-radius: 10px;
}
nav.bg-propio ul li.registro{
    display: block;
    padding: 10px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    color: white;
    background: var(--primary-color);
    border-radius: 10px;
}

.contenido {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

#username-container {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    margin-top: 10px;
}

.body-background {
    background-image: url('../MEDIA/fondo_noticias.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

.titulo-foro {
    color: rgb(7, 0, 0); /* Color del texto */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde suave transparente (blanco con 20% de opacidad) */
    padding: 10px; /* Espaciado interno */
}

.titulo-blanco {
    color: rgb(10, 3, 3);
}




