:root{
    --primary-color : #F32A2A;
    --tamaño-titulo : 40px;
    --tamaño-parrafos: 15px;
    --fondo: #0f1519;
}

nav.bg-propio ul li.login {
    margin-left: 400px;
    margin-right: 10px; /* Ajusta el margen derecho según tus preferencias */
    display: block;
    padding: 12px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    color: white;
    background: var(--primary-color);
    border-radius: 10px;
}

nav.bg-propio ul li.registro {
    display: block;
    padding: 10px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    color: white;
    background: var(--primary-color);
    border-radius: 10px;
}

nav.bg-propio{
    background:var(--fondo);

}

nav.bg-propio ul li a{
    color: white;
    position: relative;
}

nav.bg-propio ul li a::after{
    width: 20%;
    height: 2px;
    background: transparent;
    content: "";
    position: absolute;
    bottom: 2px;
    left: 20px;
    transition: .4s;
}

nav.bg-propio ul li a:hover{
    background: var(--primary-color);
}

nav.bg-propio ul li.centro{
    margin-top: 12px;
}

nav.bg-propio ul li.login{
    margin-left: 400px;
    margin-right: 6px;
    display: block;
    padding: 12px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    color: white;
    background: var(--primary-color);
    border-radius: 10px;
}
nav.bg-propio ul li.registro{
    display: block;
    padding: 10px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    color: white;
    background: var(--primary-color);
    border-radius: 10px;
}



.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.contenido {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.noticia {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 10px 20px; 
    width: calc(33.33% - 20px);
    padding: 20px;
}

.body-background {
    background-image: url('../media/fondo_noticias.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

.noticia h2 {
    font-size: 24px;
    margin-top: 0;
}

.noticia p {
    color: #333333;
    font-size: 16px;
}

.noticia-destacada {
    background-color: #ffffff;
    border: 2px solid #8347aa; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 10px 20px; 
    width: calc(100% - 20px); 
    padding: 20px;
}

.noticia-destacada h2 {
    font-size: 28px; 
    margin-top: 0;
    color: #8347aa; 
}

.noticia-destacada p {
    color: #333333;
    font-size: 18px; 
}

.noticia-destacada a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #8347aa;
    font-weight: bold;
    margin-top: 10px;
}

.noticia-destacada a:hover {
    text-decoration: underline;
}

.background-noticias{
    color: white; 
    background-color: rgb(16, 32, 22); 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

#username-container {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    margin-top: 10px;
}




