{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>Inicio</title>
<link rel="stylesheet" type="text/css" href="../static/css/index.css" media="screen">
{% endblock extrahead%}

{% block content %}
<div class="overlay-container">
    <div class="video-container">
        <video autoplay muted loop class="video-fondo">
            <source src="../static/media/video_portada.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container">
        <div class="contenido">
            <h2>xenofurious-sabotage</h2>
            <p>Invasores alienígenas descienden sobre la Tierra, desviando recursos de forma remota y provocando una ola de calor implacable. A pesar de los valientes intentos militares frustrados por sus escudos impenetrables, el hielo polar se derrite, lo que provoca una migración costera en todo el mundo.</p>

            <p>Colombia, rica en recursos, se convierte en el principal campo de caza de alienígenas. Explotan la tierra y secuestran su fauna. En un giro del destino, un alienígena aterriza en los Andes, sucumbiendo a la atmósfera terrestre, que es inofensiva para los humanos pero tóxica para su especie. Un ciudadano un dia descubre el cuerpo del alienígena, su nave, equipo y arma.</p>

            <p>La pregunta ahora es: ¿serás capaz de salvar al mundo?</p>
            <h1><a href="https://pi6g.itch.io/xenofurious-sabotage" class="boton-descarga">PLAY NOW</a></h1>

        </div>
    </div>
</div>

{% endblock content%}