{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>Noticias</title>
<link rel="stylesheet" type="text/css" href="../static/css/noticias.css">
{% endblock extrahead%}

{% block content %}
    <div class="body-background">

    
        <section class="noticias">
            <article class="noticia-destacada">
                <h2>Se pausa el desarrollo</h2>
                <p>Fecha de publicación: 3 de noviembre de 2023</p>
                <p>Despues de una larga discucion y ante algunas problematicas el equipo de desarrollo al cargo del proyecto en digital sprout a tomado la desicion de pausar temporalmente el desarrollo del videojuego...</p>
                <a href="#">Leer más</a>
            </article>

            <article class="noticia">
                <h2>El futuro del videojuego</h2>
                <p>Fecha de publicación: 10 de octubre de 2023</p>
                <p>Conoce cuales son los siguientes pasos que vamos a seguir en el desarrollo del juego y que nos depara en el futuro...</p>
                <a href="">Leer más</a>
            </article>

            <article class="noticia">
                <h2>Lanzamiento alpha 0</h2>
                <p>Fecha de publicación: 25 de septiembre de 2023</p>
                <p>La primera version alpha del juego esta disponible para su prueba, conoce acerca de lo que necesita saber de esta version...</p>
                <a href="">Leer más</a>
            </article>
        </section>
    </div>
 {% endblock content%}

</html>