{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>Foro</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/foro.css' %}" >
{% endblock extrahead%}

{% block content %}
<div class="body-background">
    <div class="container-fluid">
        <div class="mb-4">
            <div class="container" style="text-align: center; margin: 20px;">
                <h3 class="titulo-blanco">Nuevo Tema</h3>
                <form action="{% url 'nuevoTema' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" style="background-color: rgb(50, 91, 203); color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; font-size: 16px; margin-top: 10px;">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
