{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>Foro</title>
<link rel="stylesheet" type="text/css" href="../static/css/foro.css" >
{% endblock extrahead%}

{% block content %}
    <div class="container mt-4">
        <!-- Sección de Nuevos Temas -->
        
        <div class="mb-4">
            <h3 class="titulo-blanco">Nuevo Tema</h3>
            <div class="container">
                <form action="{% url 'nuevoTema' %}" method="POST">
                    {% csrf_token %}
                    {{form}}
                
                    <button>
                        guardar
                    </button>
                </form>
                </div>
        </div>
    </div>

    {% endblock content%}
</html>