<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Tema</title>
    <link rel="stylesheet" type="text/css" href="../static/css/foro.css" media="screen">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="body-background">
    <nav class="navbar navbar-expand-lg bg-propio">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html">
                <img src="../MEDIA/imagen_navbar.jpg" alt="LogoJuego" width="200px" height="60px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item centro">
                        <a class="nav-link mx-2" aria-current="page" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item centro">
                        <a class="nav-link mx-2" href="./noticias.html">News</a>
                    </li>
                    <li class="nav-item centro">
                        <a class="nav-link mx-2" href="./foro.html">Foro</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <div class="nav-link" id="username-container"></div>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <button id="logout-button" class="btn btn-danger" style="margin-top: 10px;" href="/logout">Cerrar Sesión</button>
                    </li>
                    {% else %}
                    <li>
                        <a href="/signin">Sign in</a>
                    </li>
                    <li class="nav-item registro">
                        <a id="sign-in-button" class="nav-link registro" href="/signup">Sign up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2 class="titulo-foro">Foro</h2>
        <div class="d-flex mb-3">
            <a href="./foro.html" class="btn btn-light mx-2">Ultimo</a>
            <a href="./nuevo_tema.html" class="btn btn-light mx-2">Nuevo</a>
        </div> 

        <!-- Sección de Nuevos Temas -->
        <div class="mb-4">
            <h3 class="titulo-blanco">Nuevo Tema</h3>
            <form>
                <div class="mb-3">
                    <label for="titulo" class="titulo-blanco">Título del Tema</label>
                    <input type="text" class="form-control" id="titulo">
                </div>
                <div class="mb-3">
                    <label for="mensaje" class="titulo-blanco">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Publicar</button>
            </form>
        </div>
    </div>

    <script src="../static/JS/foro.js"></script>
</body>
</html>